<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Контакты</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="logo_Herzen.png" type="image/png">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">Портфолио</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Обо мне</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="disciplines.html">Дисциплины</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="contacts.html"
              >Контакты <span class="sr-only">(текущая)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gratitude.html">Благодарности</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-5">
      <h2>Контакты</h2>
      <p>Email: maxim87858@mail.ru</p>
      <p>Телефон: +7 (987) 506-5807</p>
    </div>

    <div class="container text-center" style="width: 100">
      <div class="row">
        <div class="col">
          <div class="col-md-2">
            <a href="https://vk.com/masyanych">
              <img
                class="img-fluid rounded-circle"
                src="gratis-png-vk-computer-icons-servicio-de-redes-sociales-redes-sociales-redes-sociales.png"
            /></a>
          </div>
        </div>

        <div class="col">
          <div class="col-md-2">
            <a href="https://t.me/Masyanych"
              ><img
                class="img-fluid rounded-circle"
                src="kisspng-telegram-encapsulated-postscript-transfer-5b170605610126.3859681215282355253974.png"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">© 2024 Спирянов Максим (Портфолио)</span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>